body { /*add { next to body*/
  font-size: 14px;
}

nav {
  background-color: yellow; /*change background color to background-color*/
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
} /*add { here*/

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif; /*change font family to font-family*/
  font-size: 2em;
}

.example h3 { /*remove comma inbetween example and h3*/
  padding-top: 30px;
  text-align: center; /*change text align to text-align and add ; after center*/
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0; /* : after margin*/
  width: 100%;
} /*add { here*/

.element1 {
  background-color: grey;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
